@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.heading-font {
    font-family: 'Bebas Neue', cursive;
}


.nav-image {
  width: 50px; 
  height: 50px; 
  object-fit: cover; 
  border-radius: 50%; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}
/* code,
pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    white-space: normal;
    word-wrap: break-word;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 0.25rem;
    display: block;
  }
  
  .container {
    margin: 0 auto;
    max-width: 76rem;
    padding: 0 2rem;
  }
  
  nav {
    background-color: #333333;
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
  
  li {
    padding: 1rem;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

.bg-color-indigo {
    opacity: 1;
    background-color: #4F46E5;
}

.bg-color-black{
    opacity: 1;
    background-color: #111827;
} */
